body{
    
    background-color: rgb(12, 11, 11);
}
.container{
    align-items:center;
    background-color: rgb(248, 248, 250);
    width: 15rem;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin:20px;  
}
.flag{
    width: 100%;
}
.info{
    padding: 1rem;
}
.info > h2{
    margin-top: 0;
}
.info span {
    font-weight: bold;
}
button{
    background-color: gray;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
};